.payment-container {
    display: flex;
    height: 100vh;
    
    
  }
  
  /* Sidebar container */
  /* .sidebar-container {
    width: 250px;
    padding: 20px;
    position: relative;
  }
   */
  /* Main content area */
  .main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .payment-title {
    font-size: 28px;
    font-weight: bold;
    color: #3f236b;
    margin-bottom: 30px;
    text-align: left;
  }
  
  /* Table styling */
  .payment-table {
    width: 80%;
    margin-bottom: 30px;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .payment-table th, .payment-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
  }
  
  .payment-table th {
    background-color: #6c63ff;
    color: white;
    font-weight: 600;
  }
  
  .payment-table tr:nth-child(even) td {
    background-color: #f9f9f9;
  }
  
  .payment-table tr:hover td {
    background-color: #f1f1f1;
  }
  
  /* File upload section */
  .payment-subtitle {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
    margin-top: 100px;
  }
  
  .payment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .file-input {
    padding: 10px;
    margin-bottom: 15px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 14px;
  }
  
  .file-name {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
  }
  
  .another-method {
    font-size: 16px;
    color: #007bff;
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  