.qr-code-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}

// Other classes remain unchanged
.qr-code-display-container {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;

  .qr-code-title {
    margin-bottom: 10px; // Space between heading and QR code
    color: #333; // Change the heading color if needed
  }

  .qr-code-image {
    max-width: 100%; // Makes the image responsive
    height: auto; // Maintain aspect ratio
    border-radius: 10px; // Optional rounded corners
  }

  .qr-code-loading-text {
    font-size: 16px; // Optional font size adjustment
    color: #555; // Optional text color
  }

  .qr-code-error-text {
    font-size: 16px; // Optional font size adjustment
    color: red; // Highlight error messages
  }
}
