.table {
    .cellWrapper {
      display: flex;
      align-items: center;
  
      .image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }
    }
  
    .status {
      padding: 5px;
      border-radius: 5px;
  
      &.Approved {
        color: green;
        background-color: rgba(0, 128, 0, 0.151);
      }
      &.Pending {
        color: goldenrod;
        background-color: rgba(189, 189, 3, 0.103);
      }
    }
  }

  .filterBar {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
    align-items: center;
  
    label {
      margin-right: 8px;
    }
  
    input,
    select {
      padding: 8px 12px;
      border-radius: 6px;
      border: 1px solid #ccc;
      width: 180px;
      font-size: 14px;
    }
  
    button {
      padding: 8px 16px;
      background-color: #607F0E;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  
    button:hover {
      background-color: #4e620a;
    }
  }

  /* Styles for the ward selection dropdown */
.ward-selection {
  margin: 20px 0;
  label {
    font-size: 16px;
    margin-right: 10px;
  }

  .ward-dropdown {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    width: 200px;
    transition: all 0.3s ease;

    &:hover {
      border-color: #888;
    }

    &:focus {
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(38, 143, 255, 0.5);
    }
  }
}

/* Styles for the message display */
.message {
  margin-top: 10px;
  color: #f00;
  font-size: 14px;
}

/* Styles for the discharge button */
.discharge-btn {
  background-color: #ff4d4d;
  &:hover {
    background-color: #e60000;
  }
}
  