.patient-records-page {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9;
}

.patient-info-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
  margin-bottom: 20px;
}

.patient-info-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.patient-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.patient-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.patient-details {
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  p {
    margin: 5px 0;
    font-size: 16px;
  }
}

.treatments-labs {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.treatment-button,
.lab-button {
  background-color: #3b82f6;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.treatment-button:hover,
.lab-button:hover {
  background-color: #2563eb;
}

.health-status {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.status-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  width: 70%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  position: relative;
}

.progress {
  height: 100%;
  background-color: #34d399;
  border-radius: 5px;
  transition: width 0.4s ease;
}

.side-by-side-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.treatments-list,
.labs-list {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 400px;
  overflow-y: auto;
}

.treatment-item,
.lab-item {
  margin-bottom: 20px;
  p {
    margin: 5px 0;
  }
}
